.todo-list {
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 1rem;
  overflow: auto;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  user-select: none;
}
.todo-item input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.todo-title-container label:hover {
  cursor: pointer;
}

.todo-item:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.todo-title {
  font-size: 1.8rem;
}

.todo-title-container label {
  margin-left: 0.5rem;
}

.todo-title-container input {
  display: inline;
}

.low-prio-border {
  border: 2px solid rgba(0, 128, 0, 0.363);
}

.med-prio-border {
  border: 2px solid rgba(255, 140, 0, 0.363);
}

.high-prio-border {
  border: 2px solid rgba(255, 0, 0, 0.363);
}

.todo-modal {
  border-radius: 1rem;
  border: none;
  outline: none;
}

.todo-modal-container {
  display: flex;
  flex-direction: column;
}

.todo-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  padding: 1rem;
  text-align: center;
}

.todo-item-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo-item-body p {
  font-size: 1.2rem;
}

.todo-btn:hover,
.card-exit-btn:hover {
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
}

.todo-body-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

hr {
  width: 100%;
  height: 3px;
  border: none;
  background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}
